NODE-RED/addupi.json
[{"id":"604e6ad6.3a3eb4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"951b0dbd.9b8ef","type":"function","z":"604e6ad6.3a3eb4","name":"url processing V2","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getconfig&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&depth=4\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["4ee4b322.b9f14c","dd009d48.d4af9"]]},{"id":"25cd670e.4df82","type":"http request","z":"604e6ad6.3a3eb4","name":"init","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://82.78.81.165:48989/addUPI?function=login&user=robert&passwd=RK@adcon","tls":"","persist":true,"proxy":"","authType":"","x":330,"y":280,"wires":[["dd12a473.d89368","e90c60ca.d4ed98"]]},{"id":"7d93c511.92444c","type":"inject","z":"604e6ad6.3a3eb4","name":"","props":[{"p":"payload"}],"repeat":"840","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":1570,"y":920,"wires":[["25cd670e.4df82"]]},{"id":"dd12a473.d89368","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":280,"wires":[["951b0dbd.9b8ef","58d61a58.7d785c"]]},{"id":"e90c60ca.d4ed98","type":"debug","z":"604e6ad6.3a3eb4","name":"x1-3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":180,"wires":[]},{"id":"4ee4b322.b9f14c","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":280,"wires":[["fea0373b.35f58","7e2c38b5.b6dbb"]],"inputLabels":["msg.payload"]},{"id":"dd009d48.d4af9","type":"debug","z":"604e6ad6.3a3eb4","name":"x1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"fea0373b.35f58","type":"debug","z":"604e6ad6.3a3eb4","name":"x2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"7e2c38b5.b6dbb","type":"function","z":"604e6ad6.3a3eb4","name":"url processing2  V1","func":"\n\n\nvar i;\nvar y=msg.payload, yy=y;\ny=\" fhhhh\";\nlet x;\n\nvar v=msg.payload.split('<node')[0].substr(0,35);   // 36 char  \n\nx=msg.payload.indexOf(\"<node\");\n\n\n\n\nvar qa={ url  : y , iddd: v, pozzz:  x    };\nreturn qa;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":280,"wires":[["df1957bd.760b18"]]},{"id":"df1957bd.760b18","type":"debug","z":"604e6ad6.3a3eb4","name":"x3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":180,"wires":[]},{"id":"63a98dc2.4f536c","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["2dda930.e75796e","cb615d5.d7bba2"]],"inputLabels":["msg.payload"]},{"id":"57bc25c.6b8d65c","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 3","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4496&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["63a98dc2.4f536c","c5ff9553.e2f648"]]},{"id":"c5ff9553.e2f648","type":"debug","z":"604e6ad6.3a3eb4","name":"x4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"58d61a58.7d785c","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":420,"wires":[["57bc25c.6b8d65c","9e21c794.90041"]]},{"id":"2dda930.e75796e","type":"debug","z":"604e6ad6.3a3eb4","name":"x5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"3fa365f1.6a81ba","type":"debug","z":"604e6ad6.3a3eb4","name":"x6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":360,"wires":[]},{"id":"546b36fb.b32d98","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":540,"wires":[["95f0be52.3a296","62eb7df1.e7b7cc"]],"inputLabels":["msg.payload"]},{"id":"f54ebb1f.3719d","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 6","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4503&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["546b36fb.b32d98","1e3743df.a3c21c"]]},{"id":"1e3743df.a3c21c","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":480,"wires":[]},{"id":"95f0be52.3a296","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"46ed0c1d.b2cf0c","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":480,"wires":[]},{"id":"62eb7df1.e7b7cc","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 7","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,7);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"lumen?\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":540,"wires":[["46ed0c1d.b2cf0c","b1b39c56.050e28"]]},{"id":"9e21c794.90041","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":540,"wires":[["f54ebb1f.3719d","2e315a6c.af377e"]]},{"id":"cb615d5.d7bba2","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 5","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,8);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"V\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":420,"wires":[["3fa365f1.6a81ba","b1b39c56.050e28"]]},{"id":"54e688df.e32f2","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":660,"wires":[["6adfcf1.9c4c33","4845c9f5.3559b"]],"inputLabels":["msg.payload"]},{"id":"540f8628.7fab4","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 8","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=3736&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":660,"wires":[["54e688df.e32f2","90bbb53a.cf4568"]]},{"id":"90bbb53a.cf4568","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"6adfcf1.9c4c33","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":600,"wires":[]},{"id":"d7ac877f.5bb5b","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"4845c9f5.3559b","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 9","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,5);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"km/h???\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":660,"wires":[["d7ac877f.5bb5b","b1b39c56.050e28"]]},{"id":"2e315a6c.af377e","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":660,"wires":[["540f8628.7fab4","eff10325.454308"]]},{"id":"b1b39c56.050e28","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":420,"wires":[["ddfdc56d.753b7","5c701734.5a5f58"]]},{"id":"ddfdc56d.753b7","type":"file","z":"604e6ad6.3a3eb4","name":"txt file","filename":"datelemele","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1680,"y":480,"wires":[[]]},{"id":"2c62dd1c.ce2632","type":"batch","z":"604e6ad6.3a3eb4","name":"incercare","mode":"count","count":10,"overlap":"5","interval":10,"allowEmptySequence":false,"topics":[],"x":180,"y":360,"wires":[[]]},{"id":"de3bb549.1397c","type":"mqtt in","z":"604e6ad6.3a3eb4","name":"primitor2","topic":"training/adcon/ESTABLISH-ZT","qos":"2","datatype":"auto","broker":"4160bdc.c6b45c4","nl":false,"rap":true,"rh":0,"x":1440,"y":760,"wires":[["77caec04.ace134"]]},{"id":"77caec04.ace134","type":"debug","z":"604e6ad6.3a3eb4","name":"receiver pt zatreanu","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":760,"wires":[]},{"id":"dc425328.10a9d","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":860,"wires":[["ff8867ec.7fb558","1fdced64.156e0b"]],"inputLabels":["msg.payload"]},{"id":"2b284a57.690dee","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 3","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4356&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":860,"wires":[["dc425328.10a9d","c53c209e.9d2048"]]},{"id":"c53c209e.9d2048","type":"debug","z":"604e6ad6.3a3eb4","name":"x4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":800,"wires":[]},{"id":"eff10325.454308","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":860,"wires":[["2b284a57.690dee","aa466568.7ef88"]]},{"id":"ff8867ec.7fb558","type":"debug","z":"604e6ad6.3a3eb4","name":"x5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":800,"wires":[]},{"id":"807d4af4.d60fa8","type":"debug","z":"604e6ad6.3a3eb4","name":"x6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":800,"wires":[]},{"id":"8be5f63c.8e369","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":980,"wires":[["aaf71333.2ac8","62ebf4ac.e95ea4"]],"inputLabels":["msg.payload"]},{"id":"731e9230.551a2c","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 6","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4357&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":980,"wires":[["8be5f63c.8e369","c43bcf08.1dbbd"]]},{"id":"c43bcf08.1dbbd","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":920,"wires":[]},{"id":"aaf71333.2ac8","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":920,"wires":[]},{"id":"62be232e.8957b4","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":920,"wires":[]},{"id":"62ebf4ac.e95ea4","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 7","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"???\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":980,"wires":[["62be232e.8957b4","65504c58.132244","a0f780eb.28fd38"]]},{"id":"aa466568.7ef88","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":980,"wires":[["731e9230.551a2c","906fbed0.b7b68"]]},{"id":"1fdced64.156e0b","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 5","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"V\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":860,"wires":[["807d4af4.d60fa8","65504c58.132244","56e8eb49.9f6bfc"]]},{"id":"c4321582.2f1c7","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1100,"wires":[["d4de9dfb.9ca488","2b3f9959.d6fc46"]],"inputLabels":["msg.payload"]},{"id":"74de10d0.131278","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 8","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4348&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1100,"wires":[["c4321582.2f1c7","f07ad9f5.ae3db"]]},{"id":"f07ad9f5.ae3db","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1040,"wires":[]},{"id":"d4de9dfb.9ca488","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1040,"wires":[]},{"id":"a4b907.a2a4e6f8","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1040,"wires":[]},{"id":"2b3f9959.d6fc46","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 9","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"????\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1100,"wires":[["a4b907.a2a4e6f8","65504c58.132244","d2ae8593.b6498"]]},{"id":"906fbed0.b7b68","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1100,"wires":[["74de10d0.131278","a10468ef.cf5a38"]]},{"id":"7267b32b.2a88cc","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1220,"wires":[["4b8619b3.bfa6d8","d18ee672.54825"]],"inputLabels":["msg.payload"]},{"id":"5990e18c.71af","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 3","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4351&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1220,"wires":[["7267b32b.2a88cc","c195dca7.ee7468"]]},{"id":"c195dca7.ee7468","type":"debug","z":"604e6ad6.3a3eb4","name":"x4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1160,"wires":[]},{"id":"a10468ef.cf5a38","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1220,"wires":[["5990e18c.71af","25ef609a.662958"]]},{"id":"4b8619b3.bfa6d8","type":"debug","z":"604e6ad6.3a3eb4","name":"x5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1160,"wires":[]},{"id":"228b62c7.61f736","type":"debug","z":"604e6ad6.3a3eb4","name":"x6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1160,"wires":[]},{"id":"c1161488.d5a788","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1340,"wires":[["def5e80a.3357e8","5ac68e67.7347"]],"inputLabels":["msg.payload"]},{"id":"c4b0ec41.945968","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 6","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4353&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1340,"wires":[["c1161488.d5a788","45cb1553.4d68cc"]]},{"id":"45cb1553.4d68cc","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1280,"wires":[]},{"id":"def5e80a.3357e8","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1280,"wires":[]},{"id":"349aee00.63929a","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1280,"wires":[]},{"id":"5ac68e67.7347","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 7","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,5);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"db???\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1340,"wires":[["349aee00.63929a","e58527f7.fe48b","65e18771.4baea8"]]},{"id":"25ef609a.662958","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1340,"wires":[["c4b0ec41.945968","a6f5ff1a.ec9f6"]]},{"id":"d18ee672.54825","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 5","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,5);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"db??\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1220,"wires":[["228b62c7.61f736","65504c58.132244","c8029b6a.20599"]]},{"id":"80155ddd.efa658","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1460,"wires":[["495b8ea6.25bf7","9cbe4812.8f38e8"]],"inputLabels":["msg.payload"]},{"id":"77df1db3.9fe9fc","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 8","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4358&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1460,"wires":[["80155ddd.efa658","daf04729.5dda"]]},{"id":"daf04729.5dda","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1400,"wires":[]},{"id":"495b8ea6.25bf7","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1400,"wires":[]},{"id":"1370ec40.9ab49c","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1400,"wires":[]},{"id":"9cbe4812.8f38e8","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 9","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,5);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"C\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1460,"wires":[["1370ec40.9ab49c","e5f19c48.257e18","3d04ada.8fa56d2"]]},{"id":"a6f5ff1a.ec9f6","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1460,"wires":[["77df1db3.9fe9fc","7fec2aef.684d84"]]},{"id":"f9b7f0bd.042e58","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1580,"wires":[["b9b6e0b4.90f11","9346cda.fc716b"]],"inputLabels":["msg.payload"]},{"id":"1cc8d031.674aa8","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 3","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4354&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1580,"wires":[["f9b7f0bd.042e58","85ac5c81.ce8338"]]},{"id":"85ac5c81.ce8338","type":"debug","z":"604e6ad6.3a3eb4","name":"x4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1520,"wires":[]},{"id":"7fec2aef.684d84","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1580,"wires":[["1cc8d031.674aa8","1f18b273.417b06"]]},{"id":"b9b6e0b4.90f11","type":"debug","z":"604e6ad6.3a3eb4","name":"x5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1520,"wires":[]},{"id":"b34a64fd.3cc868","type":"debug","z":"604e6ad6.3a3eb4","name":"x6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1520,"wires":[]},{"id":"e4b2bd1b.4e347","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1700,"wires":[["18b3185.1c93068","64ac075e.86348"]],"inputLabels":["msg.payload"]},{"id":"b1050be5.0ccd08","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 6","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4352&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1700,"wires":[["e4b2bd1b.4e347","60c7290f.7bbc5"]]},{"id":"60c7290f.7bbc5","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1640,"wires":[]},{"id":"18b3185.1c93068","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1640,"wires":[]},{"id":"1860cdc7.1a4df2","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1640,"wires":[]},{"id":"64ac075e.86348","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 7","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"????\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1700,"wires":[["1860cdc7.1a4df2","e5f19c48.257e18","a6c6f02.731939"]]},{"id":"1f18b273.417b06","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1700,"wires":[["b1050be5.0ccd08","4e3d0a6.cd3be74"]]},{"id":"9346cda.fc716b","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 5","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,8);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"???\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1580,"wires":[["b34a64fd.3cc868","e5f19c48.257e18","6f3d6a23.cc404c"]]},{"id":"b59e14fa.52b1f","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1820,"wires":[["4c35ebf1.c92464","308fe181.d9558e"]],"inputLabels":["msg.payload"]},{"id":"1b61a902.006d37","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 8","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4359&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1820,"wires":[["b59e14fa.52b1f","e5ee9a57.7e9cc"]]},{"id":"e5ee9a57.7e9cc","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1760,"wires":[]},{"id":"4c35ebf1.c92464","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1760,"wires":[]},{"id":"951af6e8.01e438","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1760,"wires":[]},{"id":"308fe181.d9558e","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 9","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"%?\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1820,"wires":[["951af6e8.01e438","e5f19c48.257e18","61eb03d3.362d5c"]]},{"id":"4e3d0a6.cd3be74","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1820,"wires":[["1b61a902.006d37","7c21939d.df081c"]]},{"id":"bf6ba280.d58658","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":1940,"wires":[["ee6de77c.918bc","58742560.1d9244"]],"inputLabels":["msg.payload"]},{"id":"99a04708.2ec0a8","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 3","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4355&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1940,"wires":[["bf6ba280.d58658","972d2bf2.055608"]]},{"id":"972d2bf2.055608","type":"debug","z":"604e6ad6.3a3eb4","name":"x4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1880,"wires":[]},{"id":"7c21939d.df081c","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1940,"wires":[["99a04708.2ec0a8","c7f1bd79.48edc8"]]},{"id":"ee6de77c.918bc","type":"debug","z":"604e6ad6.3a3eb4","name":"x5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1880,"wires":[]},{"id":"c03ae497.9fb73","type":"debug","z":"604e6ad6.3a3eb4","name":"x6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1880,"wires":[]},{"id":"91899580.597ec","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":2060,"wires":[["2d7c088c.6ff81","a897fcb2.0f1a38"]],"inputLabels":["msg.payload"]},{"id":"9d611703.cdfb58","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 6","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4349&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2060,"wires":[["91899580.597ec","490a1aff.aeabd4"]]},{"id":"490a1aff.aeabd4","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":2000,"wires":[]},{"id":"2d7c088c.6ff81","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":2000,"wires":[]},{"id":"63d7f2fa.7eea54","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":2000,"wires":[]},{"id":"a897fcb2.0f1a38","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 7","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"???\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2060,"wires":[["63d7f2fa.7eea54","e58527f7.fe48b","caba8e7.76bf9f"]]},{"id":"c7f1bd79.48edc8","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":2060,"wires":[["9d611703.cdfb58","31200fd9.1766e"]]},{"id":"58742560.1d9244","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 5","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"C\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1940,"wires":[["c03ae497.9fb73","e58527f7.fe48b","8119145b.d844f"]]},{"id":"438b930b.cd4ccc","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":2180,"wires":[["130f14e3.ca7cb3","bd07e79a.2872e8"]],"inputLabels":["msg.payload"]},{"id":"ba613a2a.69b6b","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 8","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4350&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2180,"wires":[["438b930b.cd4ccc","e9d09f33.70bb4"]]},{"id":"e9d09f33.70bb4","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":2120,"wires":[]},{"id":"130f14e3.ca7cb3","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":2120,"wires":[]},{"id":"c037e0a9.4abac8","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":2120,"wires":[]},{"id":"bd07e79a.2872e8","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 9","func":"\n\n\nvar t=msg.payload.split('s=\"2\">')[1].substr(0,3);   \nvar tt=msg.payload.split('t=')[1].substr(3,15); \n\n\n\nvar JSON_payload={ \"time\":   tt   ,\"unit\": \"???\",  \"value\":  t };\nvar edc=JSON.stringify( JSON_payload );\n\n//y=xx+t+xx2;\n//node.warn([\"your_variable=\",edc]);\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2180,"wires":[["c037e0a9.4abac8","e58527f7.fe48b","958a69ef.c04c38"]]},{"id":"31200fd9.1766e","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":2180,"wires":[["ba613a2a.69b6b"]]},{"id":"65504c58.132244","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1950,"y":1020,"wires":[["b2ac2286.5e99a8"]]},{"id":"e5f19c48.257e18","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1950,"y":1080,"wires":[["b2ac2286.5e99a8"]]},{"id":"e58527f7.fe48b","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1950,"y":1140,"wires":[["b2ac2286.5e99a8"]]},{"id":"b2ac2286.5e99a8","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender2","topic":"training/adcon/ESTABLISH-ZT","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":2140,"y":1080,"wires":[]},{"id":"56e8eb49.9f6bfc","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/battt","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":860,"wires":[]},{"id":"a0f780eb.28fd38","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/roo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":980,"wires":[]},{"id":"d2ae8593.b6498","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/roua","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":1100,"wires":[]},{"id":"c8029b6a.20599","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/gsm-qual","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":1200,"wires":[]},{"id":"65e18771.4baea8","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/gsm-str","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":1340,"wires":[]},{"id":"3d04ada.8fa56d2","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/temp-int","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":1460,"wires":[]},{"id":"a6c6f02.731939","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/rain","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":1700,"wires":[]},{"id":"61eb03d3.362d5c","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/lumm","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1220,"y":1820,"wires":[]},{"id":"8119145b.d844f","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/temp-ext","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1220,"y":1940,"wires":[]},{"id":"caba8e7.76bf9f","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/wind1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1220,"y":2060,"wires":[]},{"id":"958a69ef.c04c38","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/wind2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1220,"y":2180,"wires":[]},{"id":"6f3d6a23.cc404c","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender specific ","topic":"meshliumfa30/adcon/rtu1/dew","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":1240,"y":1580,"wires":[]},{"id":"505e47a0.fed608","type":"inject","z":"604e6ad6.3a3eb4","name":"txt in","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"weffewfwefwefw","payloadType":"str","x":1810,"y":260,"wires":[["5c701734.5a5f58"]]},{"id":"9c21712c.69cc78","type":"debug","z":"604e6ad6.3a3eb4","name":"sent data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2200,"y":360,"wires":[]},{"id":"9efe8d3d.d1d698","type":"mqtt out","z":"604e6ad6.3a3eb4","name":"sender2","topic":"training/adcon/nume_statiexx","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4160bdc.c6b45c4","x":2460,"y":300,"wires":[]},{"id":"93ba65cb.d6e9c8","type":"mqtt in","z":"604e6ad6.3a3eb4","name":"primitor2","topic":"training/adcon/nume_statiexx","qos":"2","datatype":"auto","broker":"4160bdc.c6b45c4","nl":false,"rap":true,"rh":0,"x":2060,"y":420,"wires":[["627b1c39.d46094"]]},{"id":"627b1c39.d46094","type":"debug","z":"604e6ad6.3a3eb4","name":"receiver 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2230,"y":420,"wires":[]},{"id":"b4188d4d.5d1b2","type":"inject","z":"604e6ad6.3a3eb4","name":"txt in 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1779","payloadType":"num","x":1810,"y":300,"wires":[["5c701734.5a5f58"]]},{"id":"5c701734.5a5f58","type":"delay","z":"604e6ad6.3a3eb4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":300,"wires":[["9c21712c.69cc78","9efe8d3d.d1d698","522ab554.cd23dc"]]},{"id":"4f63ce8a.2bf7d","type":"inject","z":"604e6ad6.3a3eb4","name":"txt in 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gwrgwr4524233","payloadType":"str","x":1810,"y":340,"wires":[["5c701734.5a5f58"]]},{"id":"522ab554.cd23dc","type":"debug","z":"604e6ad6.3a3eb4","name":"qqqqqqqqqqqqqqq","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2480,"y":260,"wires":[]},{"id":"4160bdc.c6b45c4","type":"mqtt-broker","name":"beia-vanilla","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]