NODE-RED/addupi.json
[{"id":"3c6d0ef3.bb338a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef2d3c73.30d51","type":"inject","z":"3c6d0ef3.bb338a","name":"txt in","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"weffewfwefwefw","payloadType":"str","x":150,"y":80,"wires":[["d06c4103.38784"]]},{"id":"4db76cdc.218974","type":"debug","z":"3c6d0ef3.bb338a","name":"sent data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":180,"wires":[]},{"id":"95c182c.c9303","type":"mqtt out","z":"3c6d0ef3.bb338a","name":"sender2","topic":"qaz","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5a8371aa.f3916","x":550,"y":120,"wires":[]},{"id":"c8549298.4728b","type":"mqtt in","z":"3c6d0ef3.bb338a","name":"primitor2","topic":"qaz","qos":"2","datatype":"auto","broker":"5a8371aa.f3916","nl":false,"rap":true,"rh":0,"x":360,"y":60,"wires":[["9d388dfe.440a78"]]},{"id":"9d388dfe.440a78","type":"debug","z":"3c6d0ef3.bb338a","name":"receiver 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"c3dc654f.807cb8","type":"inject","z":"3c6d0ef3.bb338a","name":"txt in 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1779","payloadType":"num","x":150,"y":120,"wires":[["d06c4103.38784"]]},{"id":"d06c4103.38784","type":"delay","z":"3c6d0ef3.bb338a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":120,"wires":[["95c182c.c9303","4db76cdc.218974"]]},{"id":"56b80775.58fe3","type":"inject","z":"3c6d0ef3.bb338a","name":"txt in 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gwrgwr4524233","payloadType":"str","x":150,"y":160,"wires":[["d06c4103.38784"]]},{"id":"6392247c.72c8e4","type":"inject","z":"3c6d0ef3.bb338a","name":"","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":600,"wires":[[]]},{"id":"192e8f1a.c50c79","type":"function","z":"3c6d0ef3.bb338a","name":"url processing V2","func":"\n\nvar xx= \"http://demo.adcon.at:8080/addUPI?function=getconfig&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&depth=1\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":480,"wires":[["94ee47f5.0dfab","beee5898.a4277"]]},{"id":"9dee7803.3fbd7","type":"http request","z":"3c6d0ef3.bb338a","name":"init","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://demo.adcon.at/addUPI?function=login&user=playground&passwd=playground","tls":"","persist":true,"proxy":"","authType":"","x":310,"y":480,"wires":[["1cc2c851.10edd","94f8271.c785258"]]},{"id":"bb87ce5a.b6c2e8","type":"inject","z":"3c6d0ef3.bb338a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["9dee7803.3fbd7"]]},{"id":"1cc2c851.10edd","type":"delay","z":"3c6d0ef3.bb338a","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":480,"wires":[["192e8f1a.c50c79"]]},{"id":"94f8271.c785258","type":"debug","z":"3c6d0ef3.bb338a","name":"x1-3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"94ee47f5.0dfab","type":"http request","z":"3c6d0ef3.bb338a","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":480,"wires":[["ceb0af58.d0865","3a33e69b.e6fdda"]],"inputLabels":["msg.payload"]},{"id":"beee5898.a4277","type":"debug","z":"3c6d0ef3.bb338a","name":"x1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":380,"wires":[]},{"id":"ceb0af58.d0865","type":"debug","z":"3c6d0ef3.bb338a","name":"x2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":380,"wires":[]},{"id":"3a33e69b.e6fdda","type":"function","z":"3c6d0ef3.bb338a","name":"url processing2  V1","func":"\n\n\nvar i;\nvar y=msg.payload, yy=y;\ny=\" fhhhh\";\nlet x;\n\nvar v=msg.payload.split('<node')[1].substr(0,35);   // 36 char  \n\nx=msg.payload.indexOf(\"<node\");\n\nwhile (x> -1)\n{\n    i++;\n    x++;\n}\n\n\n\n\n\nvar qa={ url  : y , iddd: v, pozzz:  x    };\nreturn qa;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":560,"wires":[["8f280f6a.4ec0d","f6134ebf.268e"]]},{"id":"f6134ebf.268e","type":"debug","z":"3c6d0ef3.bb338a","name":"x3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":380,"wires":[]},{"id":"94aea3db.496f28","type":"delay","z":"3c6d0ef3.bb338a","name":"deley 50m","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":660,"wires":[[]]},{"id":"8f280f6a.4ec0d","type":"switch","z":"3c6d0ef3.bb338a","name":"qaaaa","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\" fhhhh\" ","vt":"str"},{"t":"neq","v":"\" fhhhh\"  ","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":560,"wires":[[],["94aea3db.496f28"]]},{"id":"5a8371aa.f3916","type":"mqtt-broker","name":"broker-mm-test","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"qaz","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]