NODE-RED/addupi.json
[{"id":"3c6d0ef3.bb338a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"604e6ad6.3a3eb4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5a8371aa.f3916","type":"mqtt-broker","name":"broker-mm-test","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"qaz","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1ce9093d.6c0ccf","type":"mqtt-broker","name":"broker-red","broker":"localhost:27017","port":"1866","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ef2d3c73.30d51","type":"inject","z":"3c6d0ef3.bb338a","name":"txt in","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"weffewfwefwefw","payloadType":"str","x":150,"y":80,"wires":[["d06c4103.38784"]]},{"id":"4db76cdc.218974","type":"debug","z":"3c6d0ef3.bb338a","name":"sent data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":180,"wires":[]},{"id":"95c182c.c9303","type":"mqtt out","z":"3c6d0ef3.bb338a","name":"sender2","topic":"qaz","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5a8371aa.f3916","x":550,"y":120,"wires":[]},{"id":"c8549298.4728b","type":"mqtt in","z":"3c6d0ef3.bb338a","name":"primitor2","topic":"qaz","qos":"2","datatype":"auto","broker":"5a8371aa.f3916","nl":false,"rap":true,"rh":0,"x":360,"y":60,"wires":[["9d388dfe.440a78"]]},{"id":"9d388dfe.440a78","type":"debug","z":"3c6d0ef3.bb338a","name":"receiver 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"c3dc654f.807cb8","type":"inject","z":"3c6d0ef3.bb338a","name":"txt in 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1779","payloadType":"num","x":150,"y":120,"wires":[["d06c4103.38784"]]},{"id":"d06c4103.38784","type":"delay","z":"3c6d0ef3.bb338a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":120,"wires":[["95c182c.c9303","4db76cdc.218974"]]},{"id":"56b80775.58fe3","type":"inject","z":"3c6d0ef3.bb338a","name":"txt in 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gwrgwr4524233","payloadType":"str","x":150,"y":160,"wires":[["d06c4103.38784"]]},{"id":"951b0dbd.9b8ef","type":"function","z":"604e6ad6.3a3eb4","name":"url processing V2","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getconfig&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&depth=4\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["4ee4b322.b9f14c","dd009d48.d4af9"]]},{"id":"25cd670e.4df82","type":"http request","z":"604e6ad6.3a3eb4","name":"init","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://82.78.81.165:48989/addUPI?function=login&user=robert&passwd=RK@adcon","tls":"","persist":true,"proxy":"","authType":"","x":330,"y":280,"wires":[["dd12a473.d89368","e90c60ca.d4ed98"]]},{"id":"7d93c511.92444c","type":"inject","z":"604e6ad6.3a3eb4","name":"","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":810,"y":780,"wires":[["25cd670e.4df82"]]},{"id":"dd12a473.d89368","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":280,"wires":[["951b0dbd.9b8ef","58d61a58.7d785c"]]},{"id":"e90c60ca.d4ed98","type":"debug","z":"604e6ad6.3a3eb4","name":"x1-3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":180,"wires":[]},{"id":"4ee4b322.b9f14c","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":280,"wires":[["fea0373b.35f58","7e2c38b5.b6dbb"]],"inputLabels":["msg.payload"]},{"id":"dd009d48.d4af9","type":"debug","z":"604e6ad6.3a3eb4","name":"x1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"fea0373b.35f58","type":"debug","z":"604e6ad6.3a3eb4","name":"x2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"7e2c38b5.b6dbb","type":"function","z":"604e6ad6.3a3eb4","name":"url processing2  V1","func":"\n\n\nvar i;\nvar y=msg.payload, yy=y;\ny=\" fhhhh\";\nlet x;\n\nvar v=msg.payload.split('<node')[0].substr(0,35);   // 36 char  \n\nx=msg.payload.indexOf(\"<node\");\n\n\n\n\nvar qa={ url  : y , iddd: v, pozzz:  x    };\nreturn qa;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":280,"wires":[["df1957bd.760b18"]]},{"id":"df1957bd.760b18","type":"debug","z":"604e6ad6.3a3eb4","name":"x3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":180,"wires":[]},{"id":"63a98dc2.4f536c","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["2dda930.e75796e","cb615d5.d7bba2"]],"inputLabels":["msg.payload"]},{"id":"57bc25c.6b8d65c","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 3","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4496&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["63a98dc2.4f536c","c5ff9553.e2f648"]]},{"id":"c5ff9553.e2f648","type":"debug","z":"604e6ad6.3a3eb4","name":"x4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"58d61a58.7d785c","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":420,"wires":[["57bc25c.6b8d65c","9e21c794.90041"]]},{"id":"2dda930.e75796e","type":"debug","z":"604e6ad6.3a3eb4","name":"x5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"3fa365f1.6a81ba","type":"debug","z":"604e6ad6.3a3eb4","name":"x6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":360,"wires":[]},{"id":"546b36fb.b32d98","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":540,"wires":[["95f0be52.3a296","62eb7df1.e7b7cc"]],"inputLabels":["msg.payload"]},{"id":"f54ebb1f.3719d","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 6","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=4503&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["546b36fb.b32d98","1e3743df.a3c21c"]]},{"id":"1e3743df.a3c21c","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":480,"wires":[]},{"id":"95f0be52.3a296","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"46ed0c1d.b2cf0c","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":480,"wires":[]},{"id":"62eb7df1.e7b7cc","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 7","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,7);   // 36 char  \n\n\n\n\n\n//y=xx+t+xx2;\n\n\nvar qq = { payload  : t };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":540,"wires":[["46ed0c1d.b2cf0c","b1b39c56.050e28"]]},{"id":"9e21c794.90041","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":540,"wires":[["f54ebb1f.3719d","2e315a6c.af377e"]]},{"id":"cb615d5.d7bba2","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 5","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,8);   // 36 char  \n\n\n\n\n\n//y=xx+t+xx2;\n\n\nvar qq = { payload  : t };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":420,"wires":[["3fa365f1.6a81ba","b1b39c56.050e28"]]},{"id":"7f1ffbe3.ef9394","type":"link out","z":"604e6ad6.3a3eb4","name":"out","links":["c8fc5d42.2b9318"],"x":1455,"y":420,"wires":[]},{"id":"c8fc5d42.2b9318","type":"link in","z":"3c6d0ef3.bb338a","name":"in","links":["7f1ffbe3.ef9394"],"x":125,"y":240,"wires":[["d06c4103.38784"]]},{"id":"54e688df.e32f2","type":"http request","z":"604e6ad6.3a3eb4","name":"http root2","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":660,"wires":[["6adfcf1.9c4c33","4845c9f5.3559b"]],"inputLabels":["msg.payload"]},{"id":"540f8628.7fab4","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 8","func":"\n\nvar xx= \"http://82.78.81.165:48989/addUPI?function=getdata&session-id=\"   ;      \n\n//var xx= \"/addUPI?function=getconfig&session-id=\"   ;      \nvar xx2=\"&id=3736&slots=2\"  ;\n\nvar y ,tt;\nvar t=msg.payload.split('<string>')[1].substr(0,36);   // 36 char  \n\n\n\n\n\ny=xx+t+xx2;\n\n\nvar qq = { url  : y , method: \"GET\" ,\nvannillaa: \"6fd34e4f-d180-4079-b7d0-66446316a5cf\" ,\nchocolate: t       };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":660,"wires":[["54e688df.e32f2","90bbb53a.cf4568"]]},{"id":"90bbb53a.cf4568","type":"debug","z":"604e6ad6.3a3eb4","name":"x4-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"6adfcf1.9c4c33","type":"debug","z":"604e6ad6.3a3eb4","name":"x5-2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":600,"wires":[]},{"id":"d7ac877f.5bb5b","type":"debug","z":"604e6ad6.3a3eb4","name":"x6-2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"4845c9f5.3559b","type":"function","z":"604e6ad6.3a3eb4","name":"url processing 9","func":"\n\n\nvar t=msg.payload.split('s=\"0\">')[1].substr(0,7);   // 36 char  \n\n\n\n\n\n//y=xx+t+xx2;\n\n\nvar qq = { payload  : t };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":660,"wires":[["d7ac877f.5bb5b","b1b39c56.050e28"]]},{"id":"2e315a6c.af377e","type":"delay","z":"604e6ad6.3a3eb4","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":660,"wires":[["540f8628.7fab4"]]},{"id":"b1b39c56.050e28","type":"delay","z":"604e6ad6.3a3eb4","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":420,"wires":[["7f1ffbe3.ef9394","ddfdc56d.753b7"]]},{"id":"ddfdc56d.753b7","type":"file","z":"604e6ad6.3a3eb4","name":"txt file","filename":"datelemele","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1440,"y":480,"wires":[[]]}]