NODE-RED/Solar_Edge.json
[{"id":"8235054eefd3a39f","type":"tab","label":"Solar_Edge_flow_test","disabled":false,"info":"","env":[]},{"id":"eb35be29c7d9ce09","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"details","x":120,"y":400,"wires":[["f15809a9d2b89621"]]},{"id":"175af3e93fed7832","type":"mqtt out","z":"8235054eefd3a39f","name":"sender","topic":"training/RAK/Solar","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"547cf574.6d3b7c","x":930,"y":180,"wires":[]},{"id":"703e828f18abbdea","type":"debug","z":"8235054eefd3a39f","name":"Cout1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":400,"wires":[]},{"id":"f15809a9d2b89621","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":400,"wires":[["703e828f18abbdea"]]},{"id":"7b5a7c80b195d881","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"overview","x":120,"y":460,"wires":[["808875cf17900fc9"]]},{"id":"6ebf332473187041","type":"debug","z":"8235054eefd3a39f","name":"Cout2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":460,"wires":[]},{"id":"808875cf17900fc9","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":460,"wires":[["6ebf332473187041"]]},{"id":"740f4c23e49fe201","type":"solaredge-power","z":"8235054eefd3a39f","site":"e2a29895517d5a9f","interval":"900","command":"currentPowerFlow","x":120,"y":240,"wires":[["1018bf1966179f2c"]]},{"id":"e344f14f4df2fb62","type":"debug","z":"8235054eefd3a39f","name":"Cout3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"1018bf1966179f2c","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":240,"wires":[["e344f14f4df2fb62","e84be46feb0e7a7a"]]},{"id":"77b3dc1f10b08ede","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"list","x":120,"y":520,"wires":[["b530338d36a16b64"]]},{"id":"77133c8e641530ae","type":"debug","z":"8235054eefd3a39f","name":"Cout4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"b530338d36a16b64","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":520,"wires":[["77133c8e641530ae"]]},{"id":"9cabca52c5746f26","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"inventory","x":120,"y":580,"wires":[["630141f6a732abdc"]]},{"id":"c2c322a6221a44a6","type":"debug","z":"8235054eefd3a39f","name":"Cout5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":580,"wires":[]},{"id":"630141f6a732abdc","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":580,"wires":[["c2c322a6221a44a6"]]},{"id":"263ab2bf79a67885","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"sensors","x":120,"y":640,"wires":[["512a43b8210084e7"]]},{"id":"7d98ea6b50183c16","type":"debug","z":"8235054eefd3a39f","name":"Cout6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":640,"wires":[]},{"id":"512a43b8210084e7","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":640,"wires":[["7d98ea6b50183c16"]]},{"id":"e8dadc5e84d071c3","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"envBenefits","x":120,"y":700,"wires":[["8c0df74cffd0ab99"]]},{"id":"7578fb2353d22ca4","type":"debug","z":"8235054eefd3a39f","name":"Cout7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":700,"wires":[]},{"id":"8c0df74cffd0ab99","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":700,"wires":[["7578fb2353d22ca4"]]},{"id":"05cb986dd60336ee","type":"solaredge-power","z":"8235054eefd3a39f","d":true,"site":"e2a29895517d5a9f","interval":"1000","command":"dataPeriod","x":120,"y":760,"wires":[["447185b2fcbccdf0"]]},{"id":"ff0b17b08033be5d","type":"debug","z":"8235054eefd3a39f","name":"Cout8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":760,"wires":[]},{"id":"447185b2fcbccdf0","type":"delay","z":"8235054eefd3a39f","name":"delay 1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":760,"wires":[["ff0b17b08033be5d"]]},{"id":"e84be46feb0e7a7a","type":"function","z":"8235054eefd3a39f","name":"function 3","func":"\nlet grid = msg.payload.siteCurrentPowerFlow.GRID.currentPower;\nlet load = msg.payload.siteCurrentPowerFlow.LOAD.currentPower;\nlet pv = msg.payload.siteCurrentPowerFlow.PV.currentPower;\n\n\n\n\nvar msg1 = { payload: {\"PV\" : pv} };\nvar msg2 = { payload: {\"load\" : load} };\nvar msg3 = { payload: {\"grid\" : grid } };\nvar msg4 = { payload: \"test msg rwr\" };\nreturn [[msg1, msg2, msg3], msg4];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":240,"wires":[["f53b7694cb400e61","175af3e93fed7832"]]},{"id":"f53b7694cb400e61","type":"debug","z":"8235054eefd3a39f","name":"Cout9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"e2a29895517d5a9f","type":"solaredge-power-site","siteid":"1745524","apikey":"C2HLR38KUMXL6HOY3VE0F2BNGZSEF1XF"},{"id":"547cf574.6d3b7c","type":"mqtt-broker","name":"beia-vanilla","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]