NODE-RED/tetramax.txt
[{"id":"145d758a.e2f19a","type":"tab","label":"TETRAMAX","disabled":false,"info":""},{"id":"c505742e.05cd08","type":"mqtt in","z":"145d758a.e2f19a","name":"primitor2","topic":"training/TETRAMAX/odsi/vlc","qos":"1","datatype":"auto","broker":"547cf574.6d3b7c","x":360,"y":280,"wires":[["16e5b8e2.be1667"]]},{"id":"16e5b8e2.be1667","type":"debug","z":"145d758a.e2f19a","name":"receiver 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":280,"wires":[]},{"id":"26b0317.bd395ce","type":"debug","z":"145d758a.e2f19a","name":"x6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":360,"wires":[]},{"id":"778c6948.89d3d8","type":"function","z":"145d758a.e2f19a","name":"data","func":"\nvar XXX=\"training/TETRAMAX/odsi/vlc\";\n\nvar t=Math.round( Math.random()*25  );\nvar d=Math.round( Math.random()* 500 );\nvar ll=Math.round( Math.random()*400  );\nvar ss=Math.round( Math.random()*15  );\nvar mo=false;\n\n//var JSON_payload={ \"topic\": XXX,  \"TEMP\":  t ,\"DUST\": d, \"LUMINA\":   ll   ,\"MISCARE\": mo,   \"SUNET\":   ss   ,\"ID\": \"some random id\" };\nvar JSON_payload={  \"TEMP\":  t ,\"DUST\": d, \"LUMINA\":   ll   ,\"MISCARE\": mo,   \"SUNET\":   ss   ,\"ID\": \"some random id\" };\n\n\nvar edc=JSON.stringify( JSON_payload );\n\n\nvar qq = { payload: edc };\n\n\n//qq.url(y);\nreturn qq;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["a5cd60ba.76288"]]},{"id":"d0a01237.8530a","type":"inject","z":"145d758a.e2f19a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":460,"wires":[["778c6948.89d3d8"]]},{"id":"1b50a72.5762959","type":"mqtt out","z":"145d758a.e2f19a","name":"sender specific ","topic":"training/TETRAMAX/odsi/vlc","qos":"1","retain":"","broker":"547cf574.6d3b7c","x":920,"y":420,"wires":[]},{"id":"be4a2f2f.672cc","type":"inject","z":"145d758a.e2f19a","name":"test","topic":"dummi  data ","payload":"gergrg35t5t3r","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":380,"wires":[["a5cd60ba.76288"]]},{"id":"a5cd60ba.76288","type":"delay","z":"145d758a.e2f19a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":400,"wires":[["26b0317.bd395ce","1b50a72.5762959"]]},{"id":"547cf574.6d3b7c","type":"mqtt-broker","name":"beia-vanilla","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]