NODE-RED/vital-5g-VM-sender.txt
[{"id":"f5c21e82.68c068","type":"tab","label":"VITAL5G data generator","disabled":false,"info":""},{"id":"da17db7c.2f5a68","type":"mqtt out","z":"f5c21e82.68c068","name":"vital5g","topic":"vital5g","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7cd82d51283d79bc","x":510,"y":660,"wires":[]},{"id":"cee8f6f9.6c8e68","type":"debug","z":"f5c21e82.68c068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":620,"wires":[]},{"id":"705bffe8.df501","type":"mqtt in","z":"f5c21e82.68c068","name":"","topic":"vital-5g","qos":"1","datatype":"auto","broker":"c0337c4.8a46f8","nl":false,"rap":true,"rh":0,"x":230,"y":660,"wires":[["f651e7de.ad5168"]]},{"id":"f651e7de.ad5168","type":"delay","z":"f5c21e82.68c068","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":660,"wires":[["da17db7c.2f5a68","cee8f6f9.6c8e68"]]},{"id":"8a9befe6.40ef5","type":"mqtt in","z":"f5c21e82.68c068","name":"primitor3","topic":"meshlium3d4c/A1/#","qos":"2","datatype":"auto","broker":"547cf574.6d3b7c","nl":false,"rap":false,"x":320,"y":480,"wires":[["9486b9e8.e61a98"]]},{"id":"750250cb.d7706","type":"mqtt out","z":"f5c21e82.68c068","name":"vital5g","topic":"vital5g","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c0337c4.8a46f8","x":650,"y":420,"wires":[]},{"id":"15b989d5.2ad8c6","type":"debug","z":"f5c21e82.68c068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"9486b9e8.e61a98","type":"delay","z":"f5c21e82.68c068","name":"1ms","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":420,"wires":[["15b989d5.2ad8c6","750250cb.d7706"]]},{"id":"8477cb1f.abd768","type":"mqtt in","z":"f5c21e82.68c068","name":"primitor2","topic":"meshlium3d4c/A2/#","qos":"2","datatype":"auto","broker":"547cf574.6d3b7c","nl":false,"rap":false,"x":320,"y":420,"wires":[["9486b9e8.e61a98"]]},{"id":"14d2bb8b.c76ad4","type":"mqtt in","z":"f5c21e82.68c068","name":"primitor1","topic":"training/adcom/concentrator/SWAM/rain_day2","qos":"2","datatype":"auto","broker":"547cf574.6d3b7c","nl":false,"rap":false,"x":320,"y":360,"wires":[["9486b9e8.e61a98"]]},{"id":"5e59450d.8e9d9c","type":"inject","z":"f5c21e82.68c068","name":"eee","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"ship_type\": \"tester\",   \"cargo\": \"coarse sand\",   \"length\": 50,   \"width\": 5,   \"speed\": 30,   \"water_depth\": 10 }","payloadType":"json","x":310,"y":540,"wires":[["4b117118.0d29c"]]},{"id":"4b117118.0d29c","type":"mqtt out","z":"f5c21e82.68c068","name":"vital5g","topic":"vital5g/tests","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c0337c4.8a46f8","x":650,"y":540,"wires":[]},{"id":"7cd82d51283d79bc","type":"mqtt-broker","name":"","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c0337c4.8a46f8","type":"mqtt-broker","name":"vital-5g","broker":"82.78.81.162","port":"41883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"547cf574.6d3b7c","type":"mqtt-broker","name":"beia-vanilla","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]