NODE-RED/x1.txt
[{"id":"5370a855.e195e8","type":"tab","label":"communications","disabled":false,"info":""},{"id":"10262551.3bea1b","type":"http in","z":"5370a855.e195e8","name":"postator","url":"/vreme","method":"post","upload":false,"swaggerDoc":"","x":290,"y":80,"wires":[["23f3c704.8c89c8","5223a86e.c55948"]]},{"id":"5223a86e.c55948","type":"http request","z":"5370a855.e195e8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":100,"wires":[[]]},{"id":"23f3c704.8c89c8","type":"debug","z":"5370a855.e195e8","name":"display1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":60,"wires":[]},{"id":"28c1954c.22465a","type":"http request","z":"5370a855.e195e8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":260,"wires":[["61f9865c.037ee8"]]},{"id":"61f9865c.037ee8","type":"function","z":"5370a855.e195e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[[]]},{"id":"36b2cb4d.dbcdf4","type":"debug","z":"5370a855.e195e8","name":"display2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":440,"wires":[]},{"id":"415f9ff4.df82a","type":"mqtt in","z":"5370a855.e195e8","name":"primitor vreme","topic":"workshop/kecs","qos":"2","datatype":"auto","broker":"8fe670c3.307a6","x":370,"y":460,"wires":[["36b2cb4d.dbcdf4","5e3d5866.9b70f8"]]},{"id":"c18a421a.8ffd2","type":"mqtt out","z":"5370a855.e195e8","name":"test1","topic":"workshop/kecs","qos":"2","retain":"","broker":"8fe670c3.307a6","x":550,"y":580,"wires":[]},{"id":"873cb2d9.e5e11","type":"inject","z":"5370a855.e195e8","name":"data input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tree-state","payload":"{\"temp\":23,\"humm\":50,\"age\":199,\"liveing\":true,\"foliage\":85}","payloadType":"json","x":190,"y":580,"wires":[["dc1f8ca7.0c48f","f53ee943.547828","a614401d.70072"]]},{"id":"dc1f8ca7.0c48f","type":"function","z":"5370a855.e195e8","name":"counter meu","func":"var  count= context.get('counter') || 0  ;\ncount++;\nmsg.payload = msg.payload+' '+count+' kappa';\ncontext.set('counter',count);\nmsg.count=context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":580,"wires":[["c18a421a.8ffd2","8e6bdd62.2a195","5a9d00b3.632af"]]},{"id":"8e6bdd62.2a195","type":"debug","z":"5370a855.e195e8","name":"display4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":640,"wires":[]},{"id":"f53ee943.547828","type":"debug","z":"5370a855.e195e8","name":"display3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":640,"wires":[]},{"id":"5e3d5866.9b70f8","type":"file","z":"5370a855.e195e8","name":"local storage","filename":"dump.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":570,"y":480,"wires":[[]]},{"id":"5a9d00b3.632af","type":"file","z":"5370a855.e195e8","name":"local storage2","filename":"dump2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"ascii","x":580,"y":680,"wires":[[]]},{"id":"a614401d.70072","type":"mqtt out","z":"5370a855.e195e8","name":"test1","topic":"workshop/kecs","qos":"2","retain":"","broker":"8fe670c3.307a6","x":550,"y":520,"wires":[]},{"id":"b776fd2.ee502","type":"file in","z":"5370a855.e195e8","name":"cititor","filename":"dump.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":740,"y":480,"wires":[["fab3c1a2.69ea9"]]},{"id":"fab3c1a2.69ea9","type":"debug","z":"5370a855.e195e8","name":"display5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"84c614cd.2511e8","type":"watch","z":"5370a855.e195e8","name":"","files":"dump.txt","recursive":"","x":380,"y":740,"wires":[["ba8fa0fa.dbc83"]]},{"id":"ba8fa0fa.dbc83","type":"debug","z":"5370a855.e195e8","name":"display6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":740,"wires":[]},{"id":"8fe670c3.307a6","type":"mqtt-broker","name":"","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]