NODE-RED/x1.txt
[{"id":"ffdf5b80.3f8018","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"75f907bb.75a898","type":"inject","z":"ffdf5b80.3f8018","name":"input 15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"value","payload":"15","payloadType":"num","x":90,"y":220,"wires":[["29762710.197868","8a098cef.b66db"]]},{"id":"2503e0d9.39fc6","type":"inject","z":"ffdf5b80.3f8018","name":"input 9","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"value","payload":"9","payloadType":"num","x":110,"y":280,"wires":[["29762710.197868","8a098cef.b66db"]]},{"id":"29762710.197868","type":"switch","z":"ffdf5b80.3f8018","name":"ceva nume","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"lt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":240,"wires":[["793485b3.2c528c","1bc7d790.dc3b58"],["552863fd.64257c","1bc7d790.dc3b58"]]},{"id":"552863fd.64257c","type":"change","z":"ffdf5b80.3f8018","name":"low","rules":[{"t":"set","p":"topic","pt":"msg","to":"low value2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["1f0bb9e5.80c246","5f74bb5a.8fee94","7a0a1652.7a9408"]]},{"id":"793485b3.2c528c","type":"change","z":"ffdf5b80.3f8018","name":"high","rules":[{"t":"set","p":"topic","pt":"msg","to":"high value1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":200,"wires":[["1f0bb9e5.80c246","5f74bb5a.8fee94","7a0a1652.7a9408"]]},{"id":"1f0bb9e5.80c246","type":"function","z":"ffdf5b80.3f8018","name":"ceva aici31","func":"var  x=msg.payload ;\nmsg.x= x ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":240,"wires":[["cff095fa.91b798","798affc7.a0453","c4776f8a.c2127"]]},{"id":"cff095fa.91b798","type":"template","z":"ffdf5b80.3f8018","name":"order 66","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Aceasta noua valoare este: {{topic}} si este egala cu {{payload}}  !","output":"str","x":700,"y":240,"wires":[["89278b0c.396a08"]]},{"id":"89278b0c.396a08","type":"debug","z":"ffdf5b80.3f8018","name":"output 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"8a098cef.b66db","type":"debug","z":"ffdf5b80.3f8018","name":"output 0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":220,"y":80,"wires":[]},{"id":"798affc7.a0453","type":"debug","z":"ffdf5b80.3f8018","name":"output 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":80,"wires":[]},{"id":"5f74bb5a.8fee94","type":"debug","z":"ffdf5b80.3f8018","name":"output 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":80,"wires":[]},{"id":"1bc7d790.dc3b58","type":"debug","z":"ffdf5b80.3f8018","name":"output 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":80,"wires":[]},{"id":"7a0a1652.7a9408","type":"function","z":"ffdf5b80.3f8018","name":"ceva aici32","func":"var  x=msg.payload ;\nmsg.x== 100+x*2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":420,"wires":[["e507f964.dc3618"]]},{"id":"e507f964.dc3618","type":"debug","z":"ffdf5b80.3f8018","name":"output 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":420,"wires":[]},{"id":"8fc8e8d4.859138","type":"debug","z":"ffdf5b80.3f8018","name":"output 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":480,"wires":[]},{"id":"c4776f8a.c2127","type":"function","z":"ffdf5b80.3f8018","name":"ceva aici32","func":"x= 100+x*2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":480,"wires":[["8fc8e8d4.859138"]]},{"id":"d1152359.a6d9a","type":"inject","z":"ffdf5b80.3f8018","name":"input3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bankai","payload":"135","payloadType":"num","x":310,"y":800,"wires":[["62ac2f7.53709d","6aede7e2.86bf88","8fd20687.603838","208bc278.c62b1e","84f31637.066378"]]},{"id":"62ac2f7.53709d","type":"debug","z":"ffdf5b80.3f8018","name":"full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":680,"wires":[]},{"id":"6aede7e2.86bf88","type":"debug","z":"ffdf5b80.3f8018","name":"croped","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":720,"wires":[]},{"id":"2c4bb6ff.b5f8aa","type":"debug","z":"ffdf5b80.3f8018","name":"full2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":780,"wires":[]},{"id":"9d22ca3f.436858","type":"debug","z":"ffdf5b80.3f8018","name":"croped2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":820,"wires":[]},{"id":"8fd20687.603838","type":"template","z":"ffdf5b80.3f8018","name":"order 66","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Aceasta noua valoare este: {{topic}} si este egala cu {{payload}}  !","output":"str","x":540,"y":960,"wires":[["4f3c3d8b.1f0374","d02ddf9a.a7e87","4f8a41b3.59e37"]]},{"id":"4f3c3d8b.1f0374","type":"debug","z":"ffdf5b80.3f8018","name":"full3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":940,"wires":[]},{"id":"d02ddf9a.a7e87","type":"debug","z":"ffdf5b80.3f8018","name":"croped3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":980,"wires":[]},{"id":"208bc278.c62b1e","type":"function","z":"ffdf5b80.3f8018","name":"ceva aici32","func":"\nmsg.payload= msg.payload*2+13;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":800,"wires":[["2c4bb6ff.b5f8aa","9d22ca3f.436858","4f8a41b3.59e37"]]},{"id":"84f31637.066378","type":"function","z":"ffdf5b80.3f8018","name":"counter meu","func":"var  count= context.get('counter') || 0  ;\ncount++;\nmsg.payload = msg.payload+' '+count+' kappa';\ncontext.set('counter',count);\nmsg.count=context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":880,"wires":[["748c2f32.f190c","4f8a41b3.59e37"]]},{"id":"748c2f32.f190c","type":"debug","z":"ffdf5b80.3f8018","name":"full4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":880,"wires":[]},{"id":"b3e3774b.8f6d78","type":"inject","z":"ffdf5b80.3f8018","name":"input4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bankai","payload":"true","payloadType":"bool","x":310,"y":1040,"wires":[["9a64b538.6c4848"]]},{"id":"9a64b538.6c4848","type":"function","z":"ffdf5b80.3f8018","name":"counter meu","func":"flow.set('ceva text aici sa fie bine');\nvar x=flow.get('qwerty');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1040,"wires":[[]]},{"id":"4f8a41b3.59e37","type":"file","z":"ffdf5b80.3f8018","name":"x2 files","filename":"datasave.info","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":1220,"wires":[[]]},{"id":"fdf461b1.e2ff9","type":"file in","z":"ffdf5b80.3f8018","name":"z2 file reader","filename":"datasave.info","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":630,"y":1280,"wires":[["2fcfa49f.9193bc"]]},{"id":"9b49f282.08fcb","type":"inject","z":"ffdf5b80.3f8018","name":"x2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gwgwrgwrgerhr wfgggg","payloadType":"str","x":450,"y":1220,"wires":[["4f8a41b3.59e37"]]},{"id":"625c4078.61f4b","type":"inject","z":"ffdf5b80.3f8018","name":"triger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":450,"y":1280,"wires":[["fdf461b1.e2ff9"]]},{"id":"2fcfa49f.9193bc","type":"debug","z":"ffdf5b80.3f8018","name":"file disp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1280,"wires":[]}]