NODE-RED/x2.txt
[{"id":"44636d14.cf81f4","type":"tab","label":"node-red pt ANAIS","disabled":false,"info":""},{"id":"f04e3529.446008","type":"mqtt out","z":"44636d14.cf81f4","name":"data out","topic":"spital","qos":"2","retain":"true","broker":"8fe670c3.307a6","x":780,"y":220,"wires":[]},{"id":"19d94ec0.dd94c1","type":"debug","z":"44636d14.cf81f4","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"90eb153.12b6ce8","type":"inject","z":"44636d14.cf81f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"wind","payload":"134","payloadType":"num","x":200,"y":200,"wires":[["f3e20371.7afe8"]]},{"id":"f3e20371.7afe8","type":"function","z":"44636d14.cf81f4","name":"randomizer","func":"msg.payload=msg.payload*Math.random();\nmsg.payload=msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[[]]},{"id":"42087fe.947098","type":"delay","z":"44636d14.cf81f4","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":200,"wires":[["19d94ec0.dd94c1","f04e3529.446008"]]},{"id":"adf3fbee.7a2758","type":"BACnet-Read","z":"44636d14.cf81f4","name":"read","objectType":"2","instance":"a4d74de1.10023","propertyId":"110","device":"300dbb97.3bbcb4","server":"85bc6b31.654538","multipleRead":true,"x":350,"y":560,"wires":[["42087fe.947098"]]},{"id":"e5057ef9.dc381","type":"inject","z":"44636d14.cf81f4","name":"timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":200,"y":560,"wires":[["adf3fbee.7a2758"]]},{"id":"8fe670c3.307a6","type":"mqtt-broker","name":"","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4d74de1.10023","type":"BACnet-Instance","name":"node-red bacnet pt ANAIS","instanceAddress":""},{"id":"300dbb97.3bbcb4","type":"BACnet-Device","name":"temperature13","deviceAddress":"127.0.0.1"},{"id":"85bc6b31.654538","type":"BACnet-Client","name":"client13","adpuTimeout":"","port":"","interface":"","broadcastAddress":""}]