NODE-RED/x3.txt
[{"id":"44636d14.cf81f4","type":"tab","label":"node-red pt ANAIS","disabled":true,"info":""},{"id":"de841878.877e58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d6c4fd1.e1542","type":"tab","label":"communications","disabled":false,"info":""},{"id":"8fe670c3.307a6","type":"mqtt-broker","name":"","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85bc6b31.654538","type":"BACnet-Client","name":"client13","adpuTimeout":"","port":"","interface":"","broadcastAddress":""},{"id":"300dbb97.3bbcb4","type":"BACnet-Device","name":"temperature13","deviceAddress":"127.0.0.1"},{"id":"a4d74de1.10023","type":"BACnet-Instance","name":"node-red bacnet pt ANAIS","instanceAddress":""},{"id":"27f0900d.f39298","type":"ui_group","name":"Default","tab":"28a2abb.2c733d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"28a2abb.2c733d4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fa5f8493.8ede28","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f04e3529.446008","type":"mqtt out","z":"44636d14.cf81f4","name":"data out","topic":"spital","qos":"2","retain":"true","broker":"8fe670c3.307a6","x":780,"y":220,"wires":[]},{"id":"19d94ec0.dd94c1","type":"debug","z":"44636d14.cf81f4","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"90eb153.12b6ce8","type":"inject","z":"44636d14.cf81f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"wind","payload":"134","payloadType":"num","x":200,"y":200,"wires":[["f3e20371.7afe8"]]},{"id":"f3e20371.7afe8","type":"function","z":"44636d14.cf81f4","name":"randomizer","func":"msg.payload=msg.payload*Math.random();\nmsg.payload=msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[[]]},{"id":"42087fe.947098","type":"delay","z":"44636d14.cf81f4","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":200,"wires":[["19d94ec0.dd94c1","f04e3529.446008"]]},{"id":"2b3e8d73.a5e692","type":"BACnet-Read","z":"44636d14.cf81f4","d":true,"name":"read","objectType":"2","instance":"a4d74de1.10023","propertyId":"110","device":"300dbb97.3bbcb4","server":"85bc6b31.654538","multipleRead":true,"x":270,"y":340,"wires":[["42087fe.947098"]]},{"id":"60b79f88.7a0f2","type":"inject","z":"44636d14.cf81f4","name":"timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["2b3e8d73.a5e692","55a2a9b9.5af8c8"]]},{"id":"e94d3f45.9ec39","type":"BACnet-Write","z":"44636d14.cf81f4","d":true,"name":"","objectType":"","instance":"a4d74de1.10023","valueTag":"","valueValue":"","propertyId":"","priority":"","device":"300dbb97.3bbcb4","server":"85bc6b31.654538","multipleWrite":false,"x":400,"y":460,"wires":[[]]},{"id":"55a2a9b9.5af8c8","type":"file in","z":"44636d14.cf81f4","name":"Alarms cititor","filename":"C:\\Users\\SAFECARE\\Desktop\\data_h\\Alarm.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":160,"y":460,"wires":[["e94d3f45.9ec39","76c87f94.d8a59"]]},{"id":"76c87f94.d8a59","type":"debug","z":"44636d14.cf81f4","name":"fffff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":400,"wires":[]},{"id":"db5db912.bb6548","type":"http in","z":"7d6c4fd1.e1542","name":"postator","url":"/vreme","method":"post","upload":false,"swaggerDoc":"","x":290,"y":80,"wires":[["6644dc37.e22314","a6bd6801.72de68"]]},{"id":"a6bd6801.72de68","type":"http request","z":"7d6c4fd1.e1542","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":100,"wires":[[]]},{"id":"6644dc37.e22314","type":"debug","z":"7d6c4fd1.e1542","name":"display1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":60,"wires":[]},{"id":"47a1a50f.69410c","type":"http request","z":"7d6c4fd1.e1542","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":260,"wires":[["e4d095ba.32bd68"]]},{"id":"e4d095ba.32bd68","type":"function","z":"7d6c4fd1.e1542","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[[]]},{"id":"adf9252f.4ac2d8","type":"file in","z":"7d6c4fd1.e1542","name":"cititor","filename":"dump.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":740,"y":480,"wires":[["9133f16.e01381"]]},{"id":"9133f16.e01381","type":"debug","z":"7d6c4fd1.e1542","name":"display5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"4e5efef0.5d009","type":"function","z":"de841878.877e58","name":"counter meu","func":"var  count= context.get('counter') || 0  ;\ncount++;\n\ncontext.set('counter',count);\nmsg.count=context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":400,"wires":[["aec4be27.4b897"]]},{"id":"aec4be27.4b897","type":"debug","z":"de841878.877e58","name":"ffs1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"cf17dc3e.8ff2d","type":"function","z":"de841878.877e58","name":"nume13","func":"//var x=0;\n\nvar tt=`xefwf`;\n\nif (msg.topic == 'weee')\n{\n    x = msg.count;\n    flow.set(`x`,x-1);\n\n\n}\nelse \nif (msg.topic == 'fuuu')\n{\n\nif (msg.parts.index==x)\n{\n    return msg;\n}\n\n}\n\n//node.warn(\"x=\"+x);\n//node.warn(\"payload=\"+msg.payload);\n\n\n\n\n/*\nif (msg.parts.index==x)\n{\n    return msg;\n}\n*/\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":120,"wires":[["109dd7b0.95bdc8"]]},{"id":"1a998509.90ee5b","type":"file in","z":"de841878.877e58","name":"Alarms cititor2","filename":"C:\\Users\\SAFECARE\\Desktop\\alabama.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":320,"y":120,"wires":[["51832f86.156fa","4990fda1.ac1e64"]]},{"id":"b73a487e.dd8a38","type":"inject","z":"de841878.877e58","name":"timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":670,"y":260,"wires":[["1a998509.90ee5b","cea1d6ec.0ce3b8"]]},{"id":"109dd7b0.95bdc8","type":"debug","z":"de841878.877e58","name":"ffs0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":120,"wires":[]},{"id":"51832f86.156fa","type":"debug","z":"de841878.877e58","name":"ffs1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":40,"wires":[]},{"id":"1b1b95d5.65a0da","type":"file in","z":"de841878.877e58","name":"Alarms cititor2","filename":"C:\\Users\\SAFECARE\\Desktop\\alabama.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":320,"y":480,"wires":[["9e25d58b.fb95b8","e8304015.6fbd"]]},{"id":"ed4fdf1e.a7e0c","type":"inject","z":"de841878.877e58","name":"timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":140,"y":480,"wires":[["1b1b95d5.65a0da","4e5efef0.5d009"]]},{"id":"9e25d58b.fb95b8","type":"csv","z":"de841878.877e58","d":true,"name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":470,"y":600,"wires":[["e8304015.6fbd"]]},{"id":"84134235.b0161","type":"debug","z":"de841878.877e58","name":"qaz1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"e8304015.6fbd","type":"switch","z":"de841878.877e58","name":"qwerty","property":"parts.index","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"0","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":480,"wires":[["84134235.b0161"]]},{"id":"cea1d6ec.0ce3b8","type":"function","z":"de841878.877e58","name":"counter meu","func":"var  count= context.get('count') || 0  ;\ncount++;\nmsg.topic=\"weee\"\ncontext.set('count',count);\nmsg.count=context.get('count');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":180,"wires":[["2f99b90f.c9c796","cf17dc3e.8ff2d"]]},{"id":"2f99b90f.c9c796","type":"debug","z":"de841878.877e58","name":"qaz1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"c9c9ca6f.e58558","type":"debug","z":"7d6c4fd1.e1542","name":"display2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":440,"wires":[]},{"id":"1a374a6f.41ceb6","type":"mqtt in","z":"7d6c4fd1.e1542","name":"primitor vreme","topic":"workshop/kecs","qos":"2","datatype":"auto","broker":"8fe670c3.307a6","x":370,"y":460,"wires":[["c9c9ca6f.e58558","7836253b.3b00ec"]]},{"id":"c15f5a25.820858","type":"mqtt out","z":"7d6c4fd1.e1542","name":"test1","topic":"workshop/kecs","qos":"2","retain":"","broker":"8fe670c3.307a6","x":550,"y":580,"wires":[]},{"id":"1c70d58f.14dfaa","type":"inject","z":"7d6c4fd1.e1542","name":"data input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tree-state","payload":"{\"temp\":23,\"humm\":50,\"age\":199,\"liveing\":true,\"foliage\":85}","payloadType":"json","x":190,"y":580,"wires":[["a5d76ef2.4b482","1c2a8082.54ee7f","2e1ec886.38cb48"]]},{"id":"a5d76ef2.4b482","type":"function","z":"7d6c4fd1.e1542","name":"counter meu","func":"var  count= context.get('counter') || 0  ;\ncount++;\nmsg.payload = msg.payload+' '+count+' kappa';\ncontext.set('counter',count);\nmsg.count=context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":580,"wires":[["c15f5a25.820858","f9454c81.cc10b","149baee1.f9d6e1"]]},{"id":"f9454c81.cc10b","type":"debug","z":"7d6c4fd1.e1542","name":"display4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":640,"wires":[]},{"id":"1c2a8082.54ee7f","type":"debug","z":"7d6c4fd1.e1542","name":"display3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":640,"wires":[]},{"id":"7836253b.3b00ec","type":"file","z":"7d6c4fd1.e1542","name":"local storage","filename":"dump.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":570,"y":480,"wires":[[]]},{"id":"149baee1.f9d6e1","type":"file","z":"7d6c4fd1.e1542","name":"local storage2","filename":"dump2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"ascii","x":580,"y":680,"wires":[[]]},{"id":"2e1ec886.38cb48","type":"mqtt out","z":"7d6c4fd1.e1542","name":"test1","topic":"workshop/kecs","qos":"2","retain":"","broker":"8fe670c3.307a6","x":550,"y":520,"wires":[]},{"id":"4f18b1d8.96da8","type":"watch","z":"7d6c4fd1.e1542","name":"","files":"dump.txt","recursive":"","x":380,"y":740,"wires":[["4c5c6415.63371c"]]},{"id":"4c5c6415.63371c","type":"debug","z":"7d6c4fd1.e1542","name":"display6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":740,"wires":[]},{"id":"f3bfe70e.c2b098","type":"debug","z":"de841878.877e58","name":"display2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":740,"wires":[]},{"id":"9203ba7e.f1d9d8","type":"mqtt in","z":"de841878.877e58","name":"primitor vreme","topic":"workshop/kecs","qos":"2","datatype":"auto","broker":"8fe670c3.307a6","x":330,"y":760,"wires":[["f3bfe70e.c2b098","a570987.c9c6a68"]]},{"id":"173c2eed.e94a91","type":"mqtt out","z":"de841878.877e58","name":"test1","topic":"workshop/kecs","qos":"2","retain":"","broker":"8fe670c3.307a6","x":510,"y":880,"wires":[]},{"id":"8ee73c18.22ecf","type":"inject","z":"de841878.877e58","name":"data input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tree-state","payload":"{\"temp\":23,\"humm\":50,\"age\":199,\"liveing\":true,\"foliage\":85}","payloadType":"json","x":150,"y":880,"wires":[["6ac99de6.babe04","62e51548.86581c","2237ba23.066c56"]]},{"id":"6ac99de6.babe04","type":"function","z":"de841878.877e58","name":"counter meu","func":"var  count= context.get('counter') || 0  ;\ncount++;\nmsg.payload = msg.payload+' '+count+' kappa';\ncontext.set('counter',count);\nmsg.count=context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":880,"wires":[["173c2eed.e94a91","abd876a0.417248","c868bf41.ecc6f"]]},{"id":"abd876a0.417248","type":"debug","z":"de841878.877e58","name":"display4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":940,"wires":[]},{"id":"62e51548.86581c","type":"debug","z":"de841878.877e58","name":"display3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":940,"wires":[]},{"id":"a570987.c9c6a68","type":"file","z":"de841878.877e58","name":"local storage","filename":"dump.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":530,"y":780,"wires":[[]]},{"id":"c868bf41.ecc6f","type":"file","z":"de841878.877e58","name":"local storage2","filename":"dump2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"ascii","x":540,"y":980,"wires":[[]]},{"id":"2237ba23.066c56","type":"mqtt out","z":"de841878.877e58","name":"test1","topic":"workshop/kecs","qos":"2","retain":"","broker":"8fe670c3.307a6","x":510,"y":820,"wires":[]},{"id":"97be7dbb.857dc","type":"watch","z":"de841878.877e58","name":"","files":"dump.txt","recursive":"","x":340,"y":1040,"wires":[["c74e40e5.c86cf"]]},{"id":"c74e40e5.c86cf","type":"debug","z":"de841878.877e58","name":"display6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":1040,"wires":[]},{"id":"4990fda1.ac1e64","type":"function","z":"de841878.877e58","name":"topic fuccker","func":"msg.topic=\"fuuu\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":120,"wires":[["47b7ae99.3b31b","6c0c603c.87958"]]},{"id":"47b7ae99.3b31b","type":"debug","z":"de841878.877e58","name":"ffs2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"6c0c603c.87958","type":"delay","z":"de841878.877e58","name":"dtudyt","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":180,"wires":[["cf17dc3e.8ff2d"]]}]